---
http_interactions:
- request:
    method: get
    uri: https://latest-stock-price.p.rapidapi.com/price?Indices=NIFTY%2050
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - 651b77b79dmsh5fb87e8a16b1859p18d521jsn71dfa4fc05d7
      X-Rapidapi-Host:
      - latest-stock-price.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Xgen-Up-Proto:
      - HTTP/2
      X-Appservices-Request-Id:
      - 6562ae5ef32a2b620b31ea58
      X-Ratelimit-Rapid-Free-Plans-Hard-Limit-Limit:
      - '500000'
      X-Ratelimit-Rapid-Free-Plans-Hard-Limit-Remaining:
      - '499955'
      X-Ratelimit-Rapid-Free-Plans-Hard-Limit-Reset:
      - '2438548'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - ap-southeast-1
    body:
      encoding: UTF-8
      string: '[{"symbol":"NIFTY 50","identifier":"NIFTY 50","open":19809.6,"dayHigh":19832.85,"dayLow":19768.85,"lastPrice":19794.7,"previousClose":19802,"change":-7.299999999999272,"pChange":-0.04,"yearHigh":20222.45,"yearLow":16828.35,"totalTradedVolume":145895044,"totalTradedValue":143892086306.27,"lastUpdateTime":"24-Nov-2023
        16:00:00","perChange365d":8.4,"perChange30d":2.7},{"symbol":"ADANIENT","identifier":"ADANIENTEQN","open":2179,"dayHigh":2251.95,"dayLow":2160.9,"lastPrice":2250,"previousClose":2175.25,"change":74.75,"pChange":3.44,"totalTradedVolume":1946259,"totalTradedValue":4293525204.36,"lastUpdateTime":"24-Nov-2023
        15:59:43","yearHigh":4190,"yearLow":1017.45,"perChange365d":-44.27,"perChange30d":-5.78},{"symbol":"CIPLA","identifier":"CIPLAEQN","open":1190.05,"dayHigh":1205,"dayLow":1178,"lastPrice":1196.25,"previousClose":1170.65,"change":25.[...]
