---
http_interactions:
- request:
    method: get
    uri: https://latest-stock-price.p.rapidapi.com/any
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<RAPIDAPI_KEY>"
      X-Rapidapi-Host:
      - latest-stock-price.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Xgen-Up-Proto:
      - HTTP/2
      X-Appservices-Request-Id:
      - 6562c9facb4e24b3a5a005b1
      X-Ratelimit-Rapid-Free-Plans-Hard-Limit-Limit:
      - '500000'
      X-Ratelimit-Rapid-Free-Plans-Hard-Limit-Remaining:
      - '499952'
      X-Ratelimit-Rapid-Free-Plans-Hard-Limit-Reset:
      - '2431480'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - ap-southeast-1
    body:
      encoding: UTF-8
      string: '[{"symbol":"NIFTY MIDCAP 100","identifier":"NIFTY MIDCAP 100","open":42145.35,"dayHigh":42193.2,"dayLow":41992.9,"lastPrice":42050.45,"previousClose":42027.3,"change":23.14999999999418,"pChange":0.06,"yearHigh":42193.2,"yearLow":29200.2,"totalTradedVolume":716529878,"totalTradedValue":150000870635.2,"lastUpdateTime":"24-Nov-2023
        16:00:00","perChange365d":34.92,"perChange30d":8.27},{"symbol":"BHEL","identifier":"BHELEQN","open":143.7,"dayHigh":155.4,"dayLow":142.25,"lastPrice":151.75,"previousClose":142.75,"change":9,"pChange":6.3,"totalTradedVolume":109749908,"totalTradedValue":16559066119.039999,"lastUpdateTime":"24-Nov-2023
        15:59:22","yearHigh":155.4,"yearLow":66.3,"perChange365d":90.46,"perChange30d":21.23},{"symbol":"BDL","identifier":"BDLEQN","open":1109,"dayHigh":1171.9,"dayLow":1104.6,"lastPrice":1160,"previousClose":1106.6,"change":53.4,"pChange":4.8[...]
